p , span, a{
	font-family: "Poppins", sans-serif;
}
h1, h2, h3, h4, h5, h6{
	font-family: "Montserrat", sans-serif;
}
body{
	background-color: #eee;
}
/* ============================================================ */
table thead{
	background-color: rgb(128 128 128 / 34%);
}

table tr{
	border-bottom: 0.5px solid #eee;
	
}
.background-warning{
	background-color: #ffc107 !important;
}













